@model PodologiaJa.Models.Cliente

@{
    ViewData["Title"] = "DetalhesClientes";
    Layout = "~/Views/Shared/_LayoutPodologia2.cshtml";
}

<h1>DetalhesClientes</h1>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome_completo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome_completo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Celular)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Celular)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data_Agendamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data_Agendamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hora_Agendamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hora_Agendamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
    </dl>
</div>
<div>
    <a class=" btn btn btn-primary" asp-action="BuscarCliente">Inicio</a> |
    <a class=" btn btn btn-primary" asp-action="DeleterCliente" asp-route-id="@Model?.Id">Deletar</a>
</div>
